
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayoutPage1.cshtml";
}



<div class="card card-primary">
    <div class="card-header border-0">  
       <h3 class="card-title">Danh Sách Sản Phẩm</h3>
       <div class="text-right">
          <a href="/Admin/AddProduct/" class="btn btn-success">
            <i class="fas fa-plus-circle"></i>
               Thêm Sản Phẩm
          </a>
       </div>
    </div>
    <div class="card-body table-responsive p-0">
        <table class="table table-striped table-valign-middle">
            <thead>
                <tr>
                    <th>Sản Phẩm</th>
                    <th>Giá</th>
                    <th>Số Lượng</th>
                    <th>Loại Sản Phẩm</th>
                    <th>Tỉ lệ bán</th>
                    <th>Chi tiết </th>

                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <img src="/Areas/Admin/dist/img/LOGO_UNIQUESHOP_ICO.ico" alt="Product 1" class="img-circle img-size-32 mr-2">
                        Some Product
                    </td>
                    <td>13.000.000 đ</td>
                    <td>20 Cái</td>
                    <td>Laptop</td>
                    <td>
                        <small class="text-success mr-1">
                            <i class="fas fa-arrow-up"></i>
                            12%
                        </small>
                        12,000 bán
                    </td>
                    <td>
                        <a href="#" class="text-muted">
                            <i class="fas fa-ellipsis-v"></i>
                        </a>
                    </td>
                </tr>


                <tr>
                    <td>
                        <img src="/Areas/Admin/dist/img/LOGO_UNIQUESHOP_ICO.ico" alt="Product 1" class="img-circle img-size-32 mr-2">
                        Another Product
                    </td>
                    <td>15.000.000 đ</td>
                    <td>80 Cái</td>
                    <td>Phone</td>
                    <td>
                        <small class="text-warning mr-1">
                            <i class="fas fa-arrow-down"></i>
                            0.5%
                        </small>
                        123,234 bán
                    </td>
                    <td>
                        <a href="#" class="text-muted">
                            <i class="fas fa-ellipsis-v"></i>
                        </a>
                    </td>
                </tr>
                <tr>
                    <td>
                        <img src="/Areas/Admin/dist/img/LOGO_UNIQUESHOP_ICO.ico" alt="Product 1" class="img-circle img-size-32 mr-2">
                        Amazing Product
                    </td>
                    <td>20.000.000 đ</td>
                    <td>100 Cái</td>
                    <td>Laptop</td>
                    <td>
                        <small class="text-danger mr-1">
                            <i class="fas fa-arrow-down"></i>
                            3%
                        </small>
                        198 bán
                    </td>
                    <td>
                        <a href="#" class="text-muted">
                            <i class="fas fa-ellipsis-v"></i>
                        </a>
                    </td>
                </tr>
                <tr>
                    <td>
                        <img src="/Areas/Admin/dist/img/LOGO_UNIQUESHOP_ICO.ico" alt="Product 1" class="img-circle img-size-32 mr-2">
                        Perfect Item
                        <span class="badge bg-danger">NEW</span>
                    </td>
                    <td>11.000.000 đ</td>
                    <td>22 Cái</td>
                    <td>Phone</td>
                    <td>
                        <small class="text-success mr-1">
                            <i class="fas fa-arrow-up"></i>
                            63%
                        </small>
                        87 bán
                    </td>
                    <td>
                        <a href="#" class="text-muted">
                            <i class="fas fa-ellipsis-v"></i>
                        </a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>




