
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayoutPage1.cshtml";
}

<body class="hold-transition sidebar-mini">
    <div class="wrapper">
        <section class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1>Flot Charts</h1>
                    </div>
                    <div class="col-sm-6">
                        <ol class="breadcrumb float-sm-right">
                            <li class="breadcrumb-item"><a href="#">Home</a></li>
                            <li class="breadcrumb-item active">Flot</li>
                        </ol>
                    </div>
                </div>
            </div><!-- /.container-fluid -->
        </section>
    </div>
        <!-- FLOT CHARTS -->
        <script src="/Areas/Admin/plugins/flot/jquery.flot.js"></script>
        <!-- FLOT RESIZE PLUGIN - allows the chart to redraw when the window is resized -->
        <script src="/Areas/Admin/plugins/flot/plugins/jquery.flot.resize.js"></script>
        <!-- FLOT PIE PLUGIN - also used to draw donut charts -->
        <script src="/Areas/Admin/plugins/flot/plugins/jquery.flot.pie.js"></script>
        <!-- AdminLTE for demo purposes -->
        <script src="/Areas/Admin/dist/js/demo.js"></script>
        <!-- Page specific script -->
        <script>
            $(function () {
                /*
                 * Flot Interactive Chart
                 * -----------------------
                 */
                // We use an inline data source in the example, usually data would
                // be fetched from a server
                var data = [],
                    totalPoints = 100

                function getRandomData() {

                    if (data.length > 0) {
                        data = data.slice(1)
                    }

                    // Do a random walk
                    while (data.length < totalPoints) {

                        var prev = data.length > 0 ? data[data.length - 1] : 50,
                            y = prev + Math.random() * 10 - 5

                        if (y < 0) {
                            y = 0
                        } else if (y > 100) {
                            y = 100
                        }

                        data.push(y)
                    }

                    // Zip the generated y values with the x values
                    var res = []
                    for (var i = 0; i < data.length; ++i) {
                        res.push([i, data[i]])
                    }

                    return res
                }

                var interactive_plot = $.plot('#interactive', [
                    {
                        data: getRandomData(),
                    }
                ],
                    {
                        grid: {
                            borderColor: '#f3f3f3',
                            borderWidth: 1,
                            tickColor: '#f3f3f3'
                        },
                        series: {
                            color: '#3c8dbc',
                            lines: {
                                lineWidth: 2,
                                show: true,
                                fill: true,
                            },
                        },
                        yaxis: {
                            min: 0,
                            max: 100,
                            show: true
                        },
                        xaxis: {
                            show: true
                        }
                    }
                )

                var updateInterval = 500 //Fetch data ever x milliseconds
                var realtime = 'on' //If == to on then fetch data every x seconds. else stop fetching
                function update() {

                    interactive_plot.setData([getRandomData()])

                    // Since the axes don't change, we don't need to call plot.setupGrid()
                    interactive_plot.draw()
                    if (realtime === 'on') {
                        setTimeout(update, updateInterval)
                    }
                }

                //INITIALIZE REALTIME DATA FETCHING
                if (realtime === 'on') {
                    update()
                }
                //REALTIME TOGGLE
                $('#realtime .btn').click(function () {
                    if ($(this).data('toggle') === 'on') {
                        realtime = 'on'
                    }
                    else {
                        realtime = 'off'
                    }
                    update()
                })
            /*
             * END INTERACTIVE CHART
             */



        </script>
</body>
