USE master
GO
DROP DATABASE [NewEcommerIntializationDB]
GO
CREATE DATABASE [NewEcommerIntializationDB]
on
(
	name = 'NewEcommerIntializationDB_MDF',
	filename = 'D:\Database\NewEcommerIntializationDB.MDF' 
)
log on
(
	name = 'NewEcommerIntializationDB_LDF',
	filename = 'D:\Database\NewEcommerIntializationDB.LDF'
)
GO
USE [NewEcommerIntializationDB]
GO

---------------------------------------BẢNG CHA (KHÔNG CÓ KHÓA)

CREATE TABLE [dbo].[AccountRoles](
	[Id] [int] IDENTITY(1,1) NOT NULL PRIMARY KEY,
	[Name] [nvarchar](50) NULL,
	[level] [int] NOT NULL,
	[Descibe] [nvarchar](50) NULL,
	[isActive] [bit] NOT NULL,
	)
GO
insert into AccountRoles([Name],[level] ,descibe, isActive)
	values(N'Khách hàng',0,N'Đây là khách hàng', 1), (N'Adim',1,N'Đây là nhân viên', 1);
go
CREATE TABLE [dbo].[AccountStates](
	[Id] [int] IDENTITY(1,1) NOT NULL PRIMARY KEY,
	[Name] [nvarchar](100) NULL,
)
GO
insert into [AccountStates]([Name])
	values(N'Hoạt động'), (N'Khóa');
go
CREATE TABLE [dbo].[Categories](
	[Id] [int] IDENTITY(1,1) NOT NULL PRIMARY KEY,
	[Name] [nvarchar](max) NULL,
	[thumbImage] [nvarchar](max) NULL,
)
GO
insert into Categories ([Name],[thumbImage])
values (N'Thiết Bị Điện Tử', 'url img'), 
		(N'Điện Thoại & Phụ Kiện', 'url img'),
		(N'Máy Tính & Laptop', 'url img');
go
CREATE TABLE [dbo].[Companies](
	[Id] [int] IDENTITY(1,1) NOT NULL PRIMARY KEY,
	[Name] [nvarchar](max) NULL,
	[Phone] [nvarchar](max) NULL,
	[Email] [nvarchar](max) NULL,
	[ActiveType] [nvarchar](max) NULL,
)
GO
insert into Companies([Name],Phone,Email,ActiveType)
values('Apple','0355034864','Apple.0905202@gmail.com','ActiveType'), 
      ('Oppo','0355034864','Oppo.0905202@gmail.com','ActiveType');
go
CREATE TABLE [dbo].[DeliverStates](
	[Id] [int] IDENTITY(1,1) NOT NULL PRIMARY KEY,
	[Name] [nvarchar](max) NULL,
	[OrderNumber] [int] NOT NULL,
)
go
insert into DeliverStates([Name],OrderNumber)
	values(N'Chờ',2),
		(N'Duyệt',2);
GO
CREATE TABLE [dbo].[PaymentMethods](
	[Id] [int] IDENTITY(1,1) NOT NULL PRIMARY KEY,
	[Name] [nvarchar](max) NULL,
	[Desc] [nvarchar](max) NULL,
)
GO
insert into PaymentMethods([Name],[Desc])
	values (N'Momo',N'Thanh toán momo' ),
		('Thanh toan bang tien mat','Thanh toan bang tien mat');
go
CREATE TABLE [dbo].[Positions](
	[Id] [int] IDENTITY(1,1) NOT NULL PRIMARY KEY,
	[Name] [nvarchar](max) NULL,
	[BaseSalary] [real] NOT NULL,
)
GO
insert into Positions([name],baseSalary)
	values(N'Ông chủ',99999);
go
CREATE TABLE [dbo].[ShippingMethods](
	[Id] [int] IDENTITY(1,1) NOT NULL PRIMARY KEY,
	[Name] [nvarchar](max) NULL,
	[Desc] [nvarchar](max) NULL,
	[Price] [int] NULL,
)
GO
insert into [ShippingMethods]([name],[Desc],[Price])
	values(N'Tốc hành',N'Tốc hành', 40000),(N'Thường',N'Thường', 20000) ;
go
CREATE TABLE [dbo].[Suppliers](
	[Id] [int] IDENTITY(1,1) NOT NULL PRIMARY KEY,
	[Name] [nvarchar](max) NULL,
	[Phone] [nvarchar](max) NULL,
	[Email] [nvarchar](max) NULL,
)
GO
insert into Suppliers(Name,Phone,Email)
values('Apple','0147258369','apple@gmail.com'),
		('SamSung','0147258369','samsung@gmail.com');
go

--------------------------------------------------------BẢNG CON (CÓ KHÓA)-----------------

CREATE TABLE [dbo].[Provinces](
	[Id] [int] IDENTITY(1,1) NOT NULL PRIMARY KEY,
	[Name] [nvarchar](max) NULL,
	[Domain] [nvarchar](max) NULL,
)
GO
insert into Provinces(Name, Domain)
values('TpHCM','Nam');
go
CREATE TABLE [dbo].[Districts](
	[Id] [int] IDENTITY(1,1) NOT NULL PRIMARY KEY,
	[Name] [nvarchar](max) NULL,

	[ProvinceID] int not null,
	FOREIGN KEY([ProvinceID]) REFERENCES [Provinces](Id)
)
go
insert into Districts(Name,[ProvinceID])
values('Tp Thu Duc',1);
GO
CREATE TABLE [dbo].[Wards](
	[Id] [int] IDENTITY(1,1) NOT NULL PRIMARY KEY,
	[Name] [nvarchar](max) NULL,

	[DistrictID] int not null,
	FOREIGN KEY([DistrictID]) REFERENCES [Districts](Id)
)
GO
insert into Wards(Name,[DistrictID])
values('phuong Hiep Phu',1);
go
CREATE TABLE [dbo].[Addresses](
	[Id] [int] IDENTITY(1,1) NOT NULL PRIMARY KEY,
	[Street] [nvarchar](max) NULL,

	[ProvinceID] [int] NULL,
	[DistrictID] [int] NULL,
	[WardsID] [int] NULL,
	FOREIGN KEY([ProvinceID]) REFERENCES [Provinces](Id),
	FOREIGN KEY([DistrictID]) REFERENCES [Districts](Id),
	FOREIGN KEY([WardsID]) REFERENCES [Wards](Id),

)
GO
insert into Addresses(Street,[ProvinceID],[DistrictID],[WardsID])
values('Le Van Viet',1,1,1);
go
CREATE TABLE [dbo].[Accounts](
	[Id] [int] IDENTITY(1,1) NOT NULL PRIMARY KEY,
	[Username] [nvarchar](130) NULL,
	[DisplayName] [nvarchar](max) NULL,
	[Password] [nvarchar](max) NULL,
	[Email] [nvarchar](max) NULL,
	[CreatedDate] [datetime2](7) NOT NULL,
	[Phone] [nvarchar](max) NULL,
	[DateOfBirth] [datetime2](7) NULL,
	[Sex] [nvarchar](max) NULL,
	[Avatar] [nvarchar](max) NULL,
	[Salary] [real] NULL,

	[AccountRoleID] int null,
	FOREIGN KEY([AccountRoleID]) REFERENCES [AccountRoles](Id),
	[AccountStateId] [int] NULL,
	FOREIGN KEY([AccountStateId]) REFERENCES [AccountStates](Id),
	[PositionId] [int] NULL,
	FOREIGN KEY([PositionId]) REFERENCES [Positions](Id),
	--[BankingCardsId] [int] NULL,
	--FOREIGN KEY([Id]) REFERENCES [ShoppingCards](Id),

 ) 
GO
insert into Accounts(username,[DisplayName],[password],email,[CreatedDate],phone,dateOfBirth,sex,[Avatar],[Salary], AccountState_Id, AccountRoles_Id, Position_Id, accounts.CreatedDate)
values('acc1','acc123','a@gmail.com','0123456789','1/1/1999','Nam', '',1,1,1 , '2008-11-11 13:23:44'),
		('admin','admin123','b@gmail.com','0987654321','1/1/2000','Nu','',1,1,1, '2008-11-11 13:23:44');  
go
CREATE TABLE [dbo].[AccountAccountRoles](
	[Account_Id] [int] NOT NULL ,
	[AccountRole_Id] [int] NOT NULL,
	PRIMARY KEY([Account_Id],[AccountRole_Id]),
	FOREIGN KEY([Account_Id]) REFERENCES [Accounts](Id),
	FOREIGN KEY([AccountRole_Id]) REFERENCES [AccountRoles](Id)
)
GO
CREATE TABLE [dbo].[AddressAccounts](
	[AddressID] [int] NOT NULL,
	[AccountID] [int] NOT NULL,
	PRIMARY KEY([AddressID],[AccountID]),
	FOREIGN KEY([AddressID]) REFERENCES [Addresses](Id),
	FOREIGN KEY([AccountID]) REFERENCES [Accounts](Id)
)
GO
CREATE TABLE [dbo].[BankingCards](
	[Id] [int] NOT NULL PRIMARY KEY,
	[BankingCardName] [nvarchar](max) NULL,
	[AccountName] [nvarchar](max) NULL,
	[AccountNumber] [nvarchar](max) NULL,
	FOREIGN KEY([Id]) REFERENCES [Accounts](Id),
 )
GO

CREATE TABLE [dbo].[TypeProducts](
	[Id] [int] IDENTITY(1,1) NOT NULL PRIMARY KEY,
	[Name] [nvarchar](max) NULL,

	[CategoryID] [int] NOT NULL,
	FOREIGN KEY([CategoryID]) REFERENCES [Categories](Id),
)
GO
CREATE TABLE [dbo].[Promotions](
	[Id] [int] IDENTITY(1,1) NOT NULL PRIMARY KEY,
	[Name] [nvarchar](max) NULL,
	[Desc] [nvarchar](max) NULL,
	[PercentPromotion] [real] NOT NULL,
	[CreatedDate] [datetime2](7) NOT NULL,

	[AccountAdminID] [int] not NULL,
	FOREIGN KEY([AccountAdminID]) REFERENCES [Accounts](Id),
)
GO
CREATE TABLE [dbo].[Products](
	[Id] [int] IDENTITY(1,1) NOT NULL PRIMARY KEY,
	[Name] [nvarchar](max) NULL,
	[Price] [int] NOT NULL,
	[Quantity] [int] NOT NULL,

	[CompanyID] [int] NULL,
	FOREIGN KEY([CompanyID]) REFERENCES [Companies](Id),
	[PromotionID] [int] NULL,
	FOREIGN KEY([PromotionID]) REFERENCES [Promotions](Id),
	[SupplierID] [int] NULL,
	FOREIGN KEY([SupplierID]) REFERENCES [Suppliers](Id),
	[TypeProductID] [int] NULL,
	FOREIGN KEY([TypeProductID]) REFERENCES [TypeProducts](Id),
	--[DescribeID] [int] NULL,
	--FOREIGN KEY([DescribeID]) REFERENCES [Describes](Id),
)
GO
CREATE TABLE [dbo].[Describes](
	[Id] [int] NOT NULL PRIMARY KEY,
	[Description] [nvarchar](max) NULL,
	[Pin] [int] NOT NULL,
	[CPU] [nvarchar](max) NULL,
	[Ram] [int] NULL,
	[HardDisk] [nvarchar](max) NULL,
	[GraphicsCard] [nvarchar](max) NULL,
	[ModelName] [nvarchar](max) NULL,
	[CellularTechnolory] [nvarchar](max) NULL,
	[MemoryStorageCapcity] [nvarchar](max) NULL,
	[Color] [nvarchar](max) NULL,
	[ScreenSize] [nvarchar](max) NULL,

	--[ProductID] [int] NULL,
	FOREIGN KEY([Id]) REFERENCES [Products](Id),
)
GO
CREATE TABLE [dbo].[Feedbacks](
	[Id] [int] IDENTITY(1,1) NOT NULL PRIMARY KEY,
	[Comment] [nvarchar](max) NULL,
	[Ranking] [int] NULL,

	[AccountConsumerID] [int] NULL,
	FOREIGN KEY([AccountConsumerID]) REFERENCES [Accounts](Id),
	[ProductID] [int] NULL,
	FOREIGN KEY([ProductID]) REFERENCES [Products](Id),
)
GO
CREATE TABLE [dbo].[Orders](
	[Id] [int] IDENTITY(1,1) NOT NULL PRIMARY KEY,
	[Date] [datetime2](7) NOT NULL,
	[TotalPrice] [real] NOT NULL,

	[AccountConsumerID] [int] NULL,
	FOREIGN KEY([AccountConsumerID]) REFERENCES [Accounts](Id),
	[AddressID] [int] NULL,
	FOREIGN KEY([AddressID]) REFERENCES [Addresses](Id),
	[DeliverStateID] [int] NULL,
	FOREIGN KEY([DeliverStateID]) REFERENCES [DeliverStates](Id),
	[PaymentMethodId] [int] NULL,
	FOREIGN KEY([PaymentMethodId]) REFERENCES [PaymentMethods](Id),
	[ShippingMethodID] [int] NULL,
	FOREIGN KEY([ShippingMethodID]) REFERENCES [ShippingMethods](Id),
)
GO
CREATE TABLE [dbo].[OrderDetails](
	--[Id] [int] IDENTITY(1,1) NOT NULL,
	[NumberofItems] [int] NOT NULL,
	[Price] [real] NOT NULL,

	[OrderID] [int] NOT NULL,
	[ProductID] [int] not NULL,
	PRIMARY KEY([OrderID],[ProductID]),
	FOREIGN KEY([ProductID]) REFERENCES [Products](Id),
	FOREIGN KEY([OrderID]) REFERENCES [Orders](Id)

)

GO
CREATE TABLE [dbo].[ShoppingCards](
	[Id] [int] NOT NULL PRIMARY KEY,
	[Number] [int]  NULL,
	[isEmpty] [bit]  NULL,
	[totalPrice] [real] NULL,
	FOREIGN KEY([Id]) REFERENCES [Accounts](Id),
)
GO
CREATE TABLE [dbo].[ShoppingCardDetails](
	[Id] [int] IDENTITY(1,1) NOT NULL PRIMARY KEY,
	[Number] [int] NOT NULL,
	[price] [real] NOT NULL,

	[ProductID] [int] NULL,
	FOREIGN KEY([ProductID]) REFERENCES [Products](Id),
	[ShoppingCardID] [int] NULL,
	FOREIGN KEY([ShoppingCardID]) REFERENCES [ShoppingCards](Id),
)
CREATE TABLE [dbo].[ProductImages](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[URL] [nvarchar](max) NULL,

	[ProductID] [int] NULL,
	FOREIGN KEY([ProductID]) REFERENCES [Products](Id),
)
GO
CREATE TABLE [dbo].[Warehouses](
	[Id] [int] IDENTITY(1,1) NOT NULL PRIMARY KEY,
	[Name] [nvarchar](max) NULL,
	[Status] [nvarchar](max) NULL,

	[AddressesID] [int] NOT NULL,
	FOREIGN KEY([AddressesID]) REFERENCES [Addresses](Id),
)
CREATE TABLE [dbo].[WarehouseProducts](
	[numerItems] [int] NOT NULL,
	[status] [nvarchar](max) NULL,

	[productId] [int] not NULL,
	[WarehousesID] [int] not NULL,
	PRIMARY KEY([ProductID],[WarehousesID]),
	FOREIGN KEY([ProductID]) REFERENCES [Products](Id),
	FOREIGN KEY([WarehousesID]) REFERENCES [Warehouses](Id),
)
GO
