
@using E_Commerce_Repository.Models;
@using E_Commerce_Business_Logic.Admin;
@using System.Web;
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayoutPage1.cshtml";
}

@{
    BrandView LayoutView = new E_Commerce_Business_Logic.Admin.BrandView();
    var Brand = LayoutView.BrandsView();

    CategoryView Layout1View = new CategoryView();
    var Category = Layout1View.CategorysView();
}


<div class="card card-primary">
    <div class="card-header">
        <h3 class="card-title">Thêm Sản Phẩm</h3>
    </div>
    <!-- /.card-header -->
    <!-- form start -->
    <form>
        <div class="card-body">
            <div class="form-group">
                <label for="Name">Tên Sản Phẩm</label>
                <input type="text" class="form-control" id="Name" placeholder="Nhập Tên">
            </div>

            <div class="form-group">
                <label>Loại Sản Phẩm</label>
                <select class="form-control select2" style="height: 38px;">
                    <option value="">--Chọn Loại Sản Phẩm--</option>
                    @{ if (Category != null)
                        {
                            foreach (var category in Category)
                            {
                                <option value="@category.Id">@category.Name</option>

                            }
                        }
                    }
                </select>
            </div>

            <div class="form-group">
                <label>Thượng Hiệu</label>
                <select class="form-control select2" style="height: 38px;">
                    <option value="">--Chọn Thương Hiệu--</option>
                    @{ if (Brand != null)
                        {
                            foreach (var brands in Brand)
                            {
                                <option value="@brands.Id">@brands.Name</option>

                            }
                        }
                    }
                </select>
            </div>


            <div class="form-group">
                <label for="Price">Giá</label>
                <input type="text" class="form-control" id="Price" placeholder="Nhập Giá">
            </div>
            <div class="form-group">
                <label for="Picture">Hình ảnh 1</label>
                <div class="input-group">
                    <div class="custom-file">
                        <input type="file" class="form-control" id="Picture">
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label for="Picture">Hình ảnh 2</label>
                <div class="input-group">
                    <div class="custom-file">
                        <input type="file" class="form-control" id="Picture">
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label for="Picture">Hình ảnh 3</label>
                <div class="input-group">
                    <div class="custom-file">
                        <input type="file" class="form-control" id="Picture">
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="Content">Nội dung</label>
                <textarea class="form-control summernote" id="Content" placeholder="Mô tả"></textarea>
            </div>

        </div>
        <!-- /.card-body -->

        <div class="card-footer">
            <button type="submit" class="btn btn-primary">Lưu Lại</button>
        </div>
    </form>
</div>
@section Css{
    
    <link rel="stylesheet" href="/Areas/Admin/plugins/summernote/summernote-bs4.min.css">
}
@section Js{
    <script src="/Areas/Admin/plugins/summernote/summernote-bs4.min.js"></script>
    <script>
        $(function () {
            // Summernote
            $('.summernote').summernote()
        })
    </script>
    
}