
@{
    ViewBag.Title = "About";
    Layout = "~/Views/ECOMMERCE/_LayoutPage1.cshtml";
}

<main class="main">
    <div class="video-banner bg-light pt-5 pb-5">
        <div class="container align-items-center">
            <div class="video-banner-box bg-white">
                <div class="row align-items-center">
                    <div class="col-md-6 mb-3 mb-md-0">
                        <div class="video-box-content">
                            <h3 class="video-banner-title h1"><span class="text-primary">About</span><strong>MOLLA</strong></h3><!-- End .video-banner-title -->
                            <p>Lorem ipsum dolor sit amet, consecte adipiscing elit. Donec odio. Quisque volutpat mattis eros. Nullam malesuada erat ut turpis.</p>
                            <a href="#" class="btn btn-outline-primary"><span>Click Ngay</span><i class="icon-long-arrow-right"></i></a>
                        </div><!-- End .video-box-content -->
                    </div><!-- End .col-md-6 -->
                    <div class="col-md-6">
                        <div class="video-poster">
                            <img src="/assets/images/video/poster-3.jpg" alt="poster">

                            <div class="video-poster-content">
                                <a href="https://www.youtube.com/watch?v=vBPgmASQ1A0" class="btn-video btn-iframe"><i class="icon-play"></i></a>
                            </div><!-- End .video-poster-content -->
                        </div><!-- End .video-poster -->
                    </div><!-- End .col-md-6 -->
                </div><!-- End .row -->
            </div><!-- End .video-banner-box -->
        </div><!-- End .container -->
    </div>
</main>



